pipeline/IncrementalDataLoad.json
{
	"name": "IncrementalDataLoad",
	"properties": {
		"activities": [
			{
				"name": "Lookup CFG",
				"description": "",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from dbo.cfg\nwhere enabled = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "CFG_EDWDB",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter_SQLVM_Tables",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup CFG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup CFG').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().Source,'SQLVM')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_SQLVM_Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_SQLVM_Tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@bool(equals(item().Load_Flag,'Incremental'))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "PostgreSqlSource",
												"query": {
													"value": "select * from @{item().Source_Table}",
													"type": "Expression"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "CustomerSourceTable",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "StagingFolder",
												"type": "DatasetReference",
												"parameters": {
													"STGfilename": "{item().Dest_Table}"
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Get Max Last UpdateDate CFG",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "select watermark_value\nfrom cfg\nwhere source_Table like '@{item().Source_Table}'",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "CFG_EDWDB",
												"type": "DatasetReference"
											}
										}
									},
									{
										"name": "Copy to staging",
										"description": "",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Get Max Last UpdateDate CFG",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "PostgreSqlSource",
												"query": {
													"value": "SELECT \n* \nFROM @{item().Source_Table}\nWHERE @{item().Watermark_Column}::timestamp >\n\t'@{activity('Get Max Last UpdateDate CFG').output.firstRow.watermark_value}'::timestamp\n\n",
													"type": "Expression"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "CustomerSourceTable",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "StagingFolder",
												"type": "DatasetReference",
												"parameters": {
													"STGfilename": "@{item().Dest_Table}"
												}
											}
										]
									},
									{
										"name": "Data flow1",
										"type": "ExecuteDataFlow",
										"dependsOn": [
											{
												"activity": "Copy to staging",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataflow": {
												"referenceName": "dataflow1",
												"type": "DataFlowReference",
												"parameters": {
													"sourcetable": {
														"value": "'@{item().Dest_Table}'",
														"type": "Expression"
													},
													"watermark_field": {
														"value": "'@{item().Watermark_Column}'",
														"type": "Expression"
													}
												},
												"datasetParameters": {
													"source1": {
														"STGfilename": "@{item().Dest_Table}"
													}
												}
											},
											"compute": {
												"coreCount": 8,
												"computeType": "General"
											},
											"traceLevel": "Fine"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "update cfg \nset status = 'Succeeded'\nwhere Dest_Table = '@item().Dest_Table}'\n\nselect 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "CFG_EDWDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Filter_Files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup CFG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup CFG').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().source, 'FileSystem')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy Product Category file",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Filter_Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ProductSubcategoryCSV",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "StagingFolder",
						"type": "DatasetReference",
						"parameters": {
							"STGfilename": "Product_Category_Subcategory.csv"
						}
					}
				]
			},
			{
				"name": "Update cfg status",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy Product Category file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "update cfg\nset status = 'Succeeded'\nwhere Dest_Table = 'Product_Category_Subcategory.Csv'\n\nselect 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "CFG_EDWDB",
						"type": "DatasetReference"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-01-03T10:07:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}